* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {

    background-image: url(https://th.bing.com/th/id/OIP.yY1orWV2ppY73vj6doZnLQHaNH?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header {
    background-color: rgba(0, 0, 255, 0.253);
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-menu,
.close-menu {
    display: none
}

.image {
    width: 200px;
}

.portal {
    width: 150px;
    border-radius: 50%;
}

.logo {
    width: 350px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    border-style: double;
    background-color: rgba(56, 252, 56, 0.904);
    border-radius: 20px;
    color: beige;
    font-weight: bold;
}

nav ul li a:hover {
    color: blue;
}

.Synopsis {
    margin: 20px;
    padding: 30px;
    background-color: rgba(245, 220, 223, 0.315);

}

.tittle {
    font-size: 40px;
    margin: 20px;
    text-align: start;
    color: beige;
    text-shadow: 4px 4px 3px rgba(56, 252, 56, 0.904);
}

.Synopsis h3 {
    text-align: start;
    font-weight: bold;
    margin: 20px;
    color: rgba(56, 252, 56, 0.904);
}

.Synopsis img {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    width: 500px;
    float: left;
    background-color: beige;
}

.Synopsis div p {
    font-style: italic;
    line-height: 2;
    margin: 20px;
    text-align: justify;
}

.Synopsis span {
    font-weight: bold;
}

.Synopsis p {
    margin-left: 20px;
    padding: 5px;
}

.slogan h3 {
    text-align: center;
}

.voices {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.voices img {
    width: 200px;
    margin: 20px;
    background-color: beige;
}

.Characters div h2 {
    background-color: rgba(245, 220, 223, 0.315);
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    text-align: center;


}

.container-grid {
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-color: rgba(245, 220, 223, 0.315);
    border-width: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    background-color: rgba(245, 220, 223, 0.315);
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
    border-style: solid;
    border-width: 6px;
    border-color: rgba(56, 252, 56, 0.904);
    opacity: 70%;
    font-size: 15px;

}

.grid-item img {
    width: 100px;
    border-radius: 50%;
    border-style: double;
    border-color: rgba(56, 252, 56, 0.904);
    margin-bottom: 15px;
}

.Fan-facts {
    background-color: rgba(245, 220, 223, 0.315);
    margin: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title {
    margin: 20px;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    color: beige;
    text-shadow: 4px 4px 3px rgba(56, 252, 56, 0.904);
}

.Watch {
    background-color: rgba(245, 220, 223, 0.315);
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Watch img {
    width: 250px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 8px 8px 20px 0 black;
}

.Watch h2 {
    margin: 20px;
    padding: 5px;
    font-size: 50px;
    text-align: left;
}

.Watch h3 {
    margin: 20px;
    padding: 5px;
    text-align: left;

}

.Watch p {
    text-align: left;
    font-size: 20px;
    margin: 20px;
}

footer {
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-color: rgba(245, 220, 223, 0.315);
    border-width: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 15px 20px 0 black;
}

footer div {
    margin: 5px;
    padding: 5px;
    line-height: 1.5;
}

.About {
    padding: 10px;
    margin: 5px;
    width: 350px;
    text-align: center;
}

.About p {
    text-align: justify;
    font-style: italic;
    font-size: 15px;
}

footer ul li {
    list-style: none;
    font-size: 15px;
    line-height: 1, 5;
    display: flex;
    justify-content: left;
    align-items: center;
}

.github {
    width: 35px;
    margin: 5px;
}

.email {
    width: 20px;
    margin: 15px;

}

footer ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px;

}

footer ul li:hover {
    background-color: rgb(233, 122, 159);
    border-radius: 15px;
}

@media(max-width:880px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 20px;
        padding: 40px;
    }

    .image {
        position: relative;
        margin-bottom: 25px;
        padding-left: 25px;
        padding-top: 25px;
        box-shadow: 0px 5px 10px 5px black;
        border-radius: 50%;

    }

    header nav ul li a {
        flex-direction: column;
        margin: 5px;

    }

    .logo {
        position: relative;
        width: 60%;
        margin-left: 0px;
        margin-bottom: 25px;
    }

    .portal {
        display: none;
    }

    .voices {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .voices img {
        width: 20%
    }

    .About {
        padding: 10px;
        margin: 5px;
        width: 30%;
        text-align: center;
    }

    .About p {
        text-align: justify;
        font-style: italic;
        font-size: 13px;
    }
}

@media (max-width:440px) {
    body {
        background-image: url(https://th.bing.com/th/id/R.0a69e8ec9a89f8658dc5fba6298459e2?rik=MrvzbCu7j%2bj6UA&pid=ImgRaw&r=0);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin: 5px;
        padding: 0;
    }

    header div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

    }

    .open-menu,
    .close-menu {
        display: block;
        border: 0;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;

    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px;
        align-items: end;
        margin: 10px;

    }

    .nav-visible {
        opacity: 1;
        visibility: visible;
    }

    nav ul {
        flex-direction: column;
        align-items: end;
    }


    nav ul li {
        text-shadow: 4px 4px 3px black;
    }

    nav ul li a {
        font-size: normal;
        color: rgba(56, 252, 56, 0.904);
        background: none;
        border: none;

    }

    .image {
        display: none;
    }

    .logo {
        width: 70%;

    }

    .tittle {
        text-align: center;
    }

    .Synopsis {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Synopsis h3 {
        text-align: center;
    }

    .Synopsis img {
        width: 90%;
        margin-right: 10px;
        margin-left: 10px;

    }

    .Synopsis p {
        text-align: center;

    }

    .Fan-facts {
        background-color: rgba(245, 220, 223, 0.315);
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Fan-facts iframe {
        width: 90%;
    }

    .Watch {
        background-color: rgba(245, 220, 223, 0.315);
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .watch img {
        text-align: center;

    }

    .Watch h2 {
        text-align: center;
    }

    .Watch h3 {
        text-align: center;
    }

    .Watch p {
        text-align: center;
    }

    footer {
        color: beige;
        display: flex;
        flex-direction: column;
    }

    footer div {
        text-align: center;
    }

    .About {
        width: 90%;
        margin: 50px;
    }

    footer ul li a {
        color: beige;
    }

    .github {
        background-color: beige;
    }

    .email {
        background-color: beige;
    }
}